* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #00202e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    text-align: center;
    color: white;
    margin: 15px 0 0 0;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px;
    gap: 20px;
}

.control-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    padding: 20px;
    background-color: #5c7993;
    border-radius: 20px;
    align-self: flex-start;
}

button {
    font-size: 24px;
    background-color: #d1dbe4;
    border-radius: 20px;
    border: 2px solid #494d58;
    color: #494d58;
    transition: .2s ease-in-out;
    width: 100%;
    z-index: 1;
}

.erase-label {
    font-size: 24px;
    background-color: #d1dbe4;
    border-radius: 20px;
    border: 2px solid #494d58;
    color: #494d58;
    transition: .2s ease-in-out;
    width: 100%;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

#erase:checked ~ .erase-label {
    border: 2px solid #476f95;
    outline: 3px solid #476f95;
}

button:hover {
    background-color:  #274058; 
    color: whitesmoke;
}

.erase-label:hover {
    background-color:  #274058; 
    color: whitesmoke;
}

button:active {
    background-color: #1c3042 ;
}

.erase-label:active {
    background-color: #1c3042 ;   
}

.field {
    position: relative;
    color: white;
}

.pop-up {
    color: #00202e;
    background-color: #799cbd;
    padding: 10px 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    z-index: 2;
    display: none;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}

.display-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.field:hover .pop-up {
    display: block;
}

.mode {
    width: 100%;
    text-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

input[type="radio"] {
    height: 20px;
    width: 20px;
}

input[type="color"] {
    width: 30px;
    height: 20px;
    border: none;
}

label[for="-2"] {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
}

.erase-all-btn {
    background-color: #476f95;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .1s ease-in-out;
    color: whitesmoke;
}

.erase-all-btn:hover {
    background-color: #274058;
}

.erase-all-btn:active {
    background-color: #1c3042;
}

.display-container {
    aspect-ratio: 1/1;
    flex: 2 2 0;
    width: 100%;
    max-width: 85vh;    
    border: 3px solid black;
    align-self: flex-start;
    padding: 2px;
    margin: auto;
    background-color: #476f95;
}

.display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2px;
    height: 100%;
    width: 100%;
}

.pixel {
    aspect-ratio: 1/1;
    background-color: #f0eddeff;
}

@media (max-width: 808px) {
    .container {
        flex-direction: column;
    }
    .control-panel {
        width: 50%;
        margin: auto;
    }
}